@page "/test"

@inherits TestModel

<h3>Test</h3>

<div class="col">
    <span>First name</span>
    <p>@profile.FirstName</p>
    
    <span>Last name</span>
    <p>@profile.LastName</p>

    <span>Email</span>
    <p>@profile.Email</p>
</div>